
//___DROPDOWN____//

.dropdown__button {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 5px; 
    background-color: $primary_color;
    cursor: pointer;
    padding-left: 19px;
    padding-right: 7px;
    &__arrow {
        width: auto;
        height: 10px;
    }
}

.dropdown {
    width: 100%;
    margin-bottom: 20px;
    &__content {
        border-radius: 0 0 5px 5px;
    }
    p {
        background-color: $secondary-color;
    }
}


//___DROPDOWN RESPONSIVE____//

@media screen and (min-width: 768px) {

.dropdown {
    margin-bottom: 31px;
}

.dropdown__button {
    padding-right: 33px;
    &__arrow {
        height: 20px;
    }
}

}