
//___HEADER____//

header {
    width: 100%;
    height: 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 16px;
    .logo {
        width: auto;
        height: 47px;
        object-fit: cover;
    }
    ul {
        display: flex;
        li {
            margin-top: 10px;
            margin-left: 15px;
        }
    }
}


//___HEADER RESPONSIVE____//

@media screen and (min-width: 768px) {

header {
    width: 100%;
    height: 68px;
    margin-top: 40px;
    margin-bottom: 63px;
    .logo {
        width: auto;
        height: 56px;
    }
    ul li {
        margin-left: 66px;
    }
}

}

@media screen and (min-width: 996px) {

header {
    .logo {
        width: auto;
        height: 68px;
    }
}

}

