@import "abstracts/reset";

@import "library/library";
@import "library/fonts";
@import "library/fonts_responsive";

@import "components/header";
@import "components/slider";
@import "components/tags";
@import "components/stars";
@import "components/dropdown";
@import "components/footer";

@import "pages/home";
@import "pages/article";
@import "pages/about";
@import "pages/error";

.content {
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (min-width: 768px) {
    .content {
        margin-left: 100px;
        margin-right: 100px;
    }
}
