//___FOOTER____//

footer {
    width: 100%;
    height: 209px;
    background-color: black;
    display: flex;
    justify-content: center;
}

.footer_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
        width: 122px;
        height: auto;
        margin-bottom: 30px;
        object-fit: cover;
    }
}
