
//___FONTS____//
body {
    font-family: 'Montserrat', sans-serif;
}

//Variables_________________________
$h1: 24px;
$h2: 18px;
$p1: 12px;

// @media screen and (min-width: 768px) {
//     $h1: 30px;
//     $h2: 20px;
//     $p1: 10px;  
// }

nav li {
    font-size: $p1;
    font-weight: 500;
    color: $primary_color;
}

h1 {
    font-size: $h1;
    font-weight: lighter;
    color: white;
}

h2 {
    font-size: $h2;
    font-weight: lighter;
    color: white;
}

footer p {
    color: white;
}