
//___FONTS____//
body {
    font-family: 'Montserrat', sans-serif;
}

//Variables_________________________
$h1: 24px;
$h2: 18px;
$p1: 12px;

@media screen and (min-width: 768px) {

    $p1: 24px; 
    $h2: 19px;
    
}

nav li {
    font-size: $p1;
    font-weight: 500;
    color: $primary_color;
}

h1 {
    font-size: $h1;
    font-weight: lighter;
}

h2 {
    font-size: $h2;
    font-weight: lighter;
    color: white;
}

.banner h1 {
    color: white;
}

//Dropdown_________________________
.dropdown {
    color: $primary_color;
    font-size: $p1;
    button {
        color: white;
        font-size: 13px;
    }
}

//Error_________________________
.error {
    color: $primary_color;
    h1 {
        font-size: 96px;
        font-weight: bold;
    }
    p {
        font-size: 18px;
        line-height: 26px;
    }
    .backHome {
        font-size: 14px;
        text-decoration: underline;
    }
    .backHome:visited {
        color: $primary_color;
    }
}


//Footer_________________________
footer p {
    font-size: $p1;
    color: white;
}